<div class="container py-5">  
  <div>
    <div>
      <h1>
        <%=@current_user.first_name%> 
        <%=@current_user.last_name%>'s Watchlist Titles
      </h1>
    </div>
  </div>

  <hr>

  <div>
    <div>
      
      <form action="/insert_watchlist_title" method="post">

          <select id="title_id_box" name="query_title_id">

            <%@user_available_titles.each do |title| %>

            <option value = "<%=title.api_id%>"> 
              <%=title.title%>
            </option>

            <%end%>

          </select>

        <button class="btn btn-primary btn-block">
          Add to your watchlist!
        </button>
      </form>
    </div>
  </div>

  <hr>

  <div class ="row">

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <strong>Not Yet Started</strong>
        </div>
      
        <ul id="not_yet_started_list" class="list-group list-group-flush">
          <% @not_started.each do |a_watchlist_title| %> 
            <li id="task_23434" class="list-group-item">

              <div>
                <strong>Title: </strong> <%= a_watchlist_title.release.title %>
              </div>

              <div>
                <strong>Service: </strong> <%= a_watchlist_title.service.name %>
              </div>

              <div>
                <strong>Last Update: </strong> <%= time_ago_in_words(a_watchlist_title.updated_at) %> ago
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="d-grid gap-2">

                    <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

                      <input id="status_id_box" type="hidden" value= 2 name="query_status_id">

                      <button class="btn btn-link" data-remote="true" rel="nofollow" data-method="patch"> 
                         <i class="fa-sharp fa-solid fa-pen-to-square"> </i> 
                      </button>
                    </form> 
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="d-grid gap-2">

                    <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

                      <input id="status_id_box" type="hidden" value= 3 name="query_status_id">

                      <button class="btn btn-link" data-remote="true" rel="nofollow" data-method="patch"> 
                         <i class="fa-regular fa-circle-check"> </i> 
                      </button>
                    </form> 
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="d-grid gap-2">
                    <a class="btn btn-link" data-remote="true" rel="nofollow" data-method="delete" href="/delete_watchlist_title/<%= a_watchlist_title.id %>">
                      <i class="fa-sharp fa-solid fa-trash-can"></i> </a>      
                  </div>
                </div>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <strong>In Progress</strong>
        </div>
      
        <ul id="not_yet_started_list" class="list-group list-group-flush">
          <% @in_progress.each do |a_watchlist_title| %> 
            <li id="task_23434" class="list-group-item">

              <div>
                <strong>Title: </strong> <%= a_watchlist_title.release.title %>
              </div>

              <div>
                <strong>Service: </strong> <%= a_watchlist_title.service.name %>
              </div>

              <div>
                <strong>Last Update: </strong> <%= time_ago_in_words(a_watchlist_title.updated_at) %> ago
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="d-grid gap-2">

                    <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

                      <input id="status_id_box" type="hidden" value= 3 name="query_status_id">

                      <button class="btn btn-link" data-remote="true" rel="nofollow" data-method="patch"> 
                         <i class="fa-regular fa-circle-check"> </i> 
                      </button>
                    </form> 
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="d-grid gap-2">

                    <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

                      <input id="status_id_box" type="hidden" value= 1 name="query_status_id">

                      <button class="btn btn-link" data-remote="true" rel="nofollow" data-method="patch"> 
                         <i class="fa-sharp fa-solid fa-backward"> </i> 
                      </button>
                    </form> 
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="d-grid gap-2">
                    <a class="btn btn-link" data-remote="true" rel="nofollow" data-method="delete" href="/delete_watchlist_title/<%= a_watchlist_title.id %>">
                      <i class="fa-sharp fa-solid fa-trash-can"></i> </a>      
                  </div>
                </div>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <strong>Completed</strong>
        </div>
      
        <ul id="not_yet_started_list" class="list-group list-group-flush">
          <% @completed.each do |a_watchlist_title| %> 
            <li id="task_23434" class="list-group-item">

              <div>
                <strong>Title: </strong> <%= a_watchlist_title.release.title %>
              </div>

              <div>
                <strong>Service: </strong> <%= a_watchlist_title.service.name %>
              </div>

              <div>
                <strong>Last Update: </strong> <%= time_ago_in_words(a_watchlist_title.updated_at) %> ago
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="d-grid gap-2">

                    <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

                      <input id="status_id_box" type="hidden" value= 2 name="query_status_id">

                      <button class="btn btn-link" data-remote="true" rel="nofollow" data-method="patch"> 
                       <i class="fa-sharp fa-solid fa-pen-to-square"> </i> 
                      </button>
                    </form> 
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="d-grid gap-2">

                    <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

                      <input id="status_id_box" type="hidden" value= 1 name="query_status_id">

                      <button class="btn btn-link" data-remote="true" rel="nofollow" data-method="patch"> 
                       <i class="fa-sharp fa-solid fa-backward"> </i> 
                      </button>
                    </form> 
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="d-grid gap-2">
                    <a class="btn btn-link" data-remote="true" rel="nofollow" data-method="delete" href="/delete_watchlist_title/<%= a_watchlist_title.id %>">
                      <i class="fa-sharp fa-solid fa-trash-can"></i> </a>      
                  </div>
                </div>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
    </div>

  </div>

  <hr>
</div>
