<div>
  <div>
    <h1>
      <%=@current_user.first_name%> 
      <%=@current_user.last_name%>'s Watchlist Titles
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    
    <form action="/insert_watchlist_title" method="post">

        <select id="title_id_box" name="query_title_id">

          <%@all_titles.each do |title| %>

          <option value = "<%=title.api_id%>"> 
            <%=title.title%>
          </option>

          <%end%>

        </select>

      <button>
        Add to your watchlist!
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Status
        </th>

        <th>
          Service
        </th>

        <th>
          Last Update
        </th>

        <th>
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_watchlist_titles.each do |a_watchlist_title| %>
      <tr>

        <td>
          <%= a_watchlist_title.release.title %>
        </td>

        <td>
          <%= a_watchlist_title.status.name %>
        </td>

        <td>
          <%= a_watchlist_title.service.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_watchlist_title.updated_at) %> ago
        </td>

        <td>
          Placeholder for status change 1
        </td>

        <td>
          Placeholder for status change 2
        </td>

        <td>
          <a href="/delete_watchlist_title/<%= a_watchlist_title.id %>">
            Remove from watchlist
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
