<div>
  <div>
    <h1>
      <%=@current_user.first_name%> 
      <%=@current_user.last_name%>'s Watchlist Titles
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    
    <form action="/insert_watchlist_title" method="post">

        <select id="title_id_box" name="query_title_id">

          <%@all_titles.each do |title| %>

          <option value = "<%=title.api_id%>"> 
            <%=title.title%>
          </option>

          <%end%>

        </select>

      <button>
        Add to your watchlist!
      </button>
    </form>
  </div>
</div>

<hr>

<div>
<h2> Not Yet Started </h2>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Service
        </th>

        <th>
          Last Update
        </th>

        <th>
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @not_started.each do |a_watchlist_title| %>
      <tr>

        <td>
          <%= a_watchlist_title.release.title %>
        </td>

        <td>
          <%= a_watchlist_title.service.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_watchlist_title.updated_at) %> ago
        </td>

        <td>
          <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

            <input id="status_id_box" type="hidden" value= 2 name="query_status_id">

            <button>Move to In progress</button>
          </form>
        </td>

        <td>
          <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

            <input id="status_id_box" type="hidden" value= 3 name="query_status_id">

            <button>Move to Completed</button>
          </form>
        </td>

        <td>
          <a href="/delete_watchlist_title/<%= a_watchlist_title.id %>">
            Remove from watchlist
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
<h2> In progress </h2>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Service
        </th>

        <th>
          Last Update
        </th>

        <th>
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @in_progress.each do |a_watchlist_title| %>
      <tr>

        <td>
          <%= a_watchlist_title.release.title %>
        </td>

        <td>
          <%= a_watchlist_title.service.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_watchlist_title.updated_at) %> ago
        </td>

        <td>
          <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

            <input id="status_id_box" type="hidden" value= 3 name="query_status_id">

            <button>Move to Completed</button>
          </form>
        </td>

        <td>
          <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

            <input id="status_id_box" type="hidden" value= 1 name="query_status_id">

            <button>Move Back to Not Started</button>
          </form>
        </td>

        <td>
          <a href="/delete_watchlist_title/<%= a_watchlist_title.id %>">
            Remove from watchlist
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
<h2> Completed </h2>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Service
        </th>

        <th>
          Last Update
        </th>

        <th>
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @completed.each do |a_watchlist_title| %>
      <tr>

        <td>
          <%= a_watchlist_title.release.title %>
        </td>

        <td>
          <%= a_watchlist_title.service.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_watchlist_title.updated_at) %> ago
        </td>

        <td>
          <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

            <input id="status_id_box" type="hidden" value= 2 name="query_status_id">

            <button>Move Back to In Progress</button>
          </form>
        </td>

        <td>
          <form action="/modify_watchlist_title/<%= a_watchlist_title.id%>" method="post">

            <input id="status_id_box" type="hidden" value= 1 name="query_status_id">

            <button>Move Back to Not Started</button>
          </form>
        </td>

        <td>
          <a href="/delete_watchlist_title/<%= a_watchlist_title.id %>">
            Remove from watchlist
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
