<div>
  <div>
    <h1>
    <%if session.fetch(:user_id) != nil%>
      Your Available
    <%elsif session.fetch(:user_id) == nil%>
      All
    <%end%>
      Releases
    </h1>
  </div>
</div>

<hr>

<%if session.fetch(:user_id) == nil%>

<%@service_id_array.each do |id|%>

<%releases = @matching_releases.where({:service_id => id}).order({:title => :asc})%>

<%proxy = releases.first%>

<h1> <%=proxy.service.name%> </h1>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Year
        </th>

        <th>
          Streaming Service
        </th>

        <th>
          Imdb ID
        </th>

        <th>
          Title type
        </th>

        <th>
        </th>
      </tr>
      
      <%releases.each do |title|%>
      
      <tr>

        <td>
          <%= title.title %>
        </td>

        <td>
          <%= title.year %>
        </td>

        <td>
          <%= title.service.name %>
        </td>

        <td>
          <%= title.imdb_id %>
        </td>

        <td>
          <%= title.title_type %>
        </td>

        <td>
          <a href="/releases/<%= title.api_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%end%>

<%else%>

<%@service_id_array.each do |id|%>

<%if @users_streaming_services.include?(id) == true%>

<%releases = @matching_releases.where({:service_id => id}).order({:title => :asc})%>

<%proxy = releases.first%>

<h1> <%=proxy.service.name%> </h1>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Year
        </th>

        <th>
          Streaming Service
        </th>

        <th>
          Imdb ID
        </th>

        <th>
          Title type
        </th>

        <th>
        </th>
      </tr>
      
      <%releases.each do |title|%>
      
      <tr>

        <td>
          <%= title.title %>
        </td>

        <td>
          <%= title.year %>
        </td>

        <td>
          <%= title.service.name %>
        </td>

        <td>
          <%= title.imdb_id %>
        </td>

        <td>
          <%= title.title_type %>
        </td>

        <td>
          <a href="/releases/<%= title.api_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%end%>

<%end%>

<%end%>

<hr>
