<div class="container py-5">
    <div>
      <h1>
      <%if session.fetch(:user_id) != nil%>
        Titles Available on Your Subscribed Services
      <%elsif session.fetch(:user_id) == nil%>
        All Titles
      <%end%>
      </h1>
    </div>


  <hr>

  <div class = "container">
    <div class="row">
      <%= search_form_for @q do |f| %>
        <h5>Filter titles:</h5>

        <div class="d-flex justify-content-between">
          <div>
            <%= f.label :title_cont, "Title containing:" %>
            <%= f.text_field :title_cont, :placeholder => "Enter a few characters" %>
          </div>

          <div>
            <%= f.label :year_gteq, "Released during or after:" %>
            <%= f.text_field :year_gteq, :placeholder => "Year greater than or equal to" %>
          </div>

          <div>
            <%= f.label :year_lteq, "Released during or before:" %>
            <%= f.text_field :year_lteq, :placeholder => "Year less than or equal to" %>
          </div>

          <div>
          <%= f.label :title_type_eq, "Type of Content:" %>
          <%= f.select :title_type_eq, Release.distinct.pluck(:title_type), { :include_blank => true } %>
          </div>

          <div>
          <%= f.label :service_api_id_eq, "Streaming Service:" %>
          <%if session.fetch(:user_id) == nil%>
          <%= f.select :service_api_id_eq, options_from_collection_for_select(Source.all, :api_id, :name, @q.service_api_id_eq), { :include_blank => true } %>
          <%else%>
          <%= f.select :service_api_id_eq, options_from_collection_for_select(Source.where({:api_id => @users_streaming_services}), :api_id, :name, @q.service_api_id_eq), { :include_blank => true } %>
          <%end%>
          </div>

        </div>
    </div>

    <div class="d-grid gap-2">
      <div class="mt-1"> <%= f.submit :class => "btn btn-primary btn-block" %> </div>
          
      <div> <a href="/releases">Clear filters</a> </div>
    </div>  
    <% end %>
    
  </div>

  <%if session.fetch(:user_id) == nil%>

  <%@service_id_array.each do |id|%>

  <%releases = @matching_releases.where({:service_id => id}).order({:title => :asc})%>

  <%proxy = releases.first%>

  <%if proxy != nil%>

  <div class="mx-auto" style="width: 200px;">
      <h1> <%=proxy.service.name%> </h1>
      <%= paginate releases %>
  </div>

  <div class="row">
    <%releases.each do |title|%>
    <div class="col-4">
      <div class="wrapper mx-auto">
        <div class="card mt-5 mx-auto">
          <div class="card-body">
            <p class="card-text"> <strong>Title: </strong> <%= title.title %> </p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-info"><strong>Year: </strong> <%= title.year %></li>
            <li class="list-group-item list-group-item-info"><strong>Streaming Service: </strong> <%= title.service.name %></li>
            <li class="list-group-item list-group-item-info"><strong>Type of Content: </strong> <%= title.title_type %></li>
            <li class="list-group-item list-group-item-info"><a href="https://www.imdb.com/title/<%= title.imdb_id %>/" target="_blank">
                    See details
                  </a> 
            </li>
          </ul>
          
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <%end%>

  <%end%>

  <%else%>

  <%@service_id_array.each do |id|%>

  <%if @users_streaming_services.include?(id) == true%>

  <%releases = @matching_releases.where({:service_id => id}).order({:title => :asc})%>

  <%proxy = releases.first%>

  <%if proxy != nil%>

  <div class="mx-auto" style="width: 200px;">
      <h1> <%=proxy.service.name%> </h1>
      <%= paginate releases %>
  </div>

  <div class="row">
    <%releases.each do |title|%>
    <div class="col-4">
      <div class="wrapper mx-auto">
        <div class="card mt-5 mx-auto">
          <div class="card-body">
            <p class="card-text"> <strong>Title: </strong> <%= title.title %> </p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-info"><strong>Year: </strong> <%= title.year %></li>
            <li class="list-group-item list-group-item-info"><strong>Streaming Service: </strong> <%= title.service.name %></li>
            <li class="list-group-item list-group-item-info"><strong>Type of Content: </strong> <%= title.title_type %></li>
            <li class="list-group-item list-group-item-info"><a href="https://www.imdb.com/title/<%= title.imdb_id %>/" target="_blank">
                    See details
                  </a> </li>
            <li class="list-group-item list-group-item-info">
              <form action="/insert_watchlist_title" method="post">

                  <input id="title_id_box" type="hidden" value="<%=title.api_id%>" name="query_title_id">

                  <button class="btn btn-primary btn-block">Add to your watchlist</button >
              </form>
            </li>
          </ul>
        
        </div>
      </div>
    </div>
    <% end %>
  </div>

  

  <%end%>

  <%end%>

  <%end%>

  <%end%>

  <hr>
</div>
