<div>
  <div>
    <h1>
    <%if session.fetch(:user_id) != nil%>
      Titles Available on Your Subscribed Services
    <%elsif session.fetch(:user_id) == nil%>
      All Titles
    <%end%>
    </h1>
  </div>
</div>

<hr>

<%if session.fetch(:user_id) == nil%>

<%@service_id_array.each do |id|%>

<%releases = @matching_releases.where({:service_id => id}).order({:title => :asc})%>

<%proxy = releases.first%>

<h1> <%=proxy.service.name%> </h1>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Year
        </th>

        <th>
          Streaming Service
        </th>

        <th>
          Title Type
        </th>

        <th>
        </th>
      </tr>
      
      <%releases.each do |title|%>
      
      <tr>

        <td>
          <%= title.title %>
        </td>

        <td>
          <%= title.year %>
        </td>

        <td>
          <%= title.service.name %>
        </td>

        <td>
          <%= title.title_type %>
        </td>

        <td>
          <a href="https://www.imdb.com/title/<%= title.imdb_id %>/" target="_blank">
            See details
          </a>
        </td>
 
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%end%>

<%else%>

<%@service_id_array.each do |id|%>

<%if @users_streaming_services.include?(id) == true%>

<%releases = @matching_releases.where({:service_id => id}).order({:title => :asc})%>

<%proxy = releases.first%>

<h1> <%=proxy.service.name%> </h1>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Year
        </th>

        <th>
          Streaming Service
        </th>

        <th>
          Title Type
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>
      
      <%releases.each do |title|%>
      
      <tr>

        <td>
          <%= title.title %>
        </td>

        <td>
          <%= title.year %>
        </td>

        <td>
          <%= title.service.name %>
        </td>

        <td>
          <%= title.title_type %>
        </td>

        <td>
          <a href="https://www.imdb.com/title/<%= title.imdb_id %>/" target="_blank">
            See details
          </a>
        </td>

        <td>
          <form action="/insert_watchlist_title" method="post">

            <input id="title_id_box" type="hidden" value="<%=title.api_id%>" name="query_title_id">

            <button>Add to your watchlist</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%end%>

<%end%>

<%end%>

<hr>
